<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="//www.greathiit.com/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/config/mdui/css/mdui.min.css}">
    <title>登陆-学生作业管理系统</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .login-style {
            margin: 100px auto;
            height: 500px;
        }
    </style>
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo">
<div class="mdui-card login-style mdui-p-a-3 mdui-container">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">学生作业管理系统</div>
        <div class="mdui-card-primary-subtitle">使用您的账户密码进行登陆</div>
    </div>
    <div class="mdui-card-content">
        <form id="login_form" th:action="@{/config/login}" method="post">
            <p th:text="${error}"></p>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">用户名</label>
                <input name="username" class="mdui-textfield-input" type="text" required/>
                <div class="mdui-textfield-error">用户名不能为空</div>
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input name="password" class="mdui-textfield-input" type="password" required/>
                <div class="mdui-textfield-error">密码不能为空</div>
            </div>
            <div class="mdui-card-actions" style="top: 20px;">
                <input type="submit" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme mdui-btn-block"
                       value="登陆">
            </div>
        </form>
    </div>
</div>
<script th:src="@{/config/mdui/js/mdui.min.js}"></script>
</body>
</html>